
body {
  margin: 0;
  position: relative;
}

.wrapper {
  padding: 30px 18%;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 500px;
  width: 100%;
  box-sizing: border-box;
}

.background {
  height: 100vh;
  z-index: 1;
  position: fixed;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.bg1 {
  background-image: url(images/maxime-caron-iVhmp3iQJPA-unsplash.jpg);
}

.bg2{
  background-image: url(images/max-zhiltsov-RB9VeeP8bsg-unsplash.jpg);
}

.progress {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  right: 1%;
  height: 25%;
  width: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 5px 0;
  box-sizing: border-box;
}

.progress__bar {
  height: 0%;
  width: 8px;
  background-color: rgba(169, 169, 169, 0.7);
  border-radius: 50px;
}

.content {
  width: 100%;
  padding-top: 100vh;
  position: relative;
  z-index:3;
}

/* HEADER --------------------------------------------------------------------- */

.header {
  position: absolute;
  top: 50vh;
  width: 100%;
  z-index: 3;
}

.header__title--container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.header__title--container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 50vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-blend-mode: multiply;
}

.header__title {
  color: white;
  font-family: 'Lexend Giga', sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.header__description {
  font-family: 'Lexend Giga', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 3px 2px rgba(0,0,0,0.3);
}

/* END HEADER --------------------------------------------------------------------- */




/* BLOCK1 --------------------------------------------------------------------- */

.block1__above-title {
  font-family: 'Questrial', sans-serif;
  text-transform: uppercase;
}

.block1__title {
  font-family: 'Questrial', sans-serif;
  text-transform: uppercase;
}

.block1__text {
  font-family: 'Monda', sans-serif;
  text-align: justify;
}

.block1__link--container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.block1__link {
  text-decoration: none;
  color: white;
  padding: 7px 30px;
  border-radius: 50px;
  background-color: #6a6c6e;
  font-family: 'Monda', sans-serif;
  font-size: 18px;
  border: solid 2px transparent;
  transition: ease 0.5s;
  margin-bottom: 10px;
}

.block1__link:hover {
  color: #6a6c6e;
  background-color: white;
  border: solid 2px #6a6c6e;
}

.block1__link--icon {
  margin-left: 5px;
}

/* END BLOCK1 --------------------------------------------------------------------- */




/* BLOCK2 --------------------------------------------------------------------- */

.block2 .wrapper {
  padding: 80px 10%;
  background-color: white;
}

.block2__list--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block2__card--list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 300px;
  grid-gap: 30px;
}

.block2__card {
  height: 400px;
  /* width: 350px; */
  overflow: hidden;
  position: relative;
}


.card1 {
  background-image: url(images/erickson-javier-RW7TrDwdqpk-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.card2 {
  background-image: url(images/guowen-sui-8GJ33-5AO-Y-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.card3 {
  background-image: url(images/ryan-loughlin-_2z0xIF4Lx4-unsplash.jpg);
  background-size: cover;
  background-position: top;
}

.card4 {
  background-image: url(images/darren-chan-0nHOfjH0emE-unsplash.jpg);
  background-size: cover;
  background-position: top;
}

.card5 {
  background-image: url(images/hector-j-rivas-fvl7oftGJ_8-unsplash.jpg);
  background-size: cover;
  background-position: top;
}

.card6 {
  background-image: url(images/randhi-mahardhika-Q0aDpCw1ULk-unsplash.jpg);
  background-size: cover;
  background-position: top;
}

.block2__card--content {
  position: absolute;
  width: 100%;
  top: 68%;
  transition: ease 0.7s;
}

.block2__card:hover .block2__card--content {
  top: -5.5%;
  /* background-color: white; */
}

.block2__card:hover .block2__card--content::before {
  background-color: white;
  transition: ease 0.4s;
}

.block2__card--content::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-bottom: 65px solid white;
  border-left: 300px solid transparent;
}

.block2__card--title {
  background-color: white;
  margin: 0;
  padding: 15px 0;
  text-align: center;
  font-family: 'Questrial', sans-serif;
  text-transform: uppercase;
}


.block2__card--text-container {
  height: 188px;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: white;
  padding: 0 1em;
}

.block2__card--text {
  font-family: 'Monda', sans-serif;
  font-size: 14px;
  text-align: justify;
}

.block2__card--link-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.block2__card--link {
  text-decoration: none;
  color: #a9a9a9;
  font-size: 43px;
  padding: 7px 11px 4px;
  border-radius: 50%;
  background-color: transparent;
  transition: ease 0.2s;
}

.block2__card--link:hover {
  color: white;
  background-color: #a9a9a9;
}

/* END BLOCK2 --------------------------------------------------------------------- */




/* FOOTER --------------------------------------------------------------------- */

.footer .wrapper {
  margin-bottom: 50px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__list--item {
  margin: 0 20px;
  transition: ease 0.5s;
}

.footer__list--item:hover{
  transform: scale(1.25);
}

.footer__list--link {
  text-decoration: none;
  color: #6a6c6e;
  font-size: 32px;
}

.footer__copyright {
  font-family: 'Monda', sans-serif;
  color: #6a6c6e;
  text-align: center;
  font-size: 12px;
}

.footer__contact {
  font-family: 'Exo 2', sans-serif;
  font-size: 30px;
  font-style: italic;
  color: #fff;
  padding: 10px 15px;
  border: 3px solid #fff;
  border-radius: 15px;
  text-transform: uppercase;
  margin-bottom: 35px;
  animation: flicker 2s infinite alternate;
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow:
      0 0 2px #f40,
      0 0 4px #f40,
      0 0 6px #f40,
      0 0 8px #f40,
      0 0 10px #f40;

    box-shadow:
        0 0 4px #08f,
        inset 0 0 4px #08f,
        0 0 8px #08f,
        inset 0 0 8px #08f;
  }

  20%, 24% {
    text-shadow: none;
    box-shadow: none;
  }
}

/* END FOOTER --------------------------------------------------------------------- */


/* MEDIA QUERIES --------------------------------------------------------------------- */


@media all and (min-width: 768px) {
  .header__title {
    font-size: 44px;
  }
  .header__description {
    font-size: 22px;
  }

  .block2__card--list {
    grid-template-columns: 320px 320px;
  }
  .block2__card--content::before {
    border-left: 320px solid transparent;
  }
}

@media all and (min-width: 900px) {
  .block2__card--list {
    grid-template-columns: 350px 350px;
  }
  .block2__card--content::before {
    border-left: 350px solid transparent;
  }
}


@media all and (min-width: 1200px) {
  .header__title {
    font-size: 70px;
  }
  .header__description {
    font-size: 25px;
  }

  .block2__card--list {
    grid-template-columns: 330px 330px 330px;
  }
  .block2__card--content::before {
    border-left: 330px solid transparent;
  }
}

@media all and (min-width: 1300px) {
  .block2__card--list {
    grid-template-columns: 350px 350px 350px;
  }
  .block2__card--content::before {
    border-left: 350px solid transparent;
  }
}

@media all and (min-width: 1500px) {
  .header__title {
    font-size: 80px;
  }
  .header__description {
    font-size: 40px;
  }

  .block2__card--list {
    grid-template-columns: 380px 380px 380px;
  }
  .block2__card--content::before {
    border-left: 380px solid transparent;
  }
}
